{% extends "pageMaster.twig" %}
{% block content %}
    <div class="page-content">
        <div class="alert alert-danger">
            {{mensaje}}
        </div>
    </div><!-- /.page-content -->
{% endblock %}
{% block js_custom %}
  
{% endblock %}